.detail-card {
  width: 1744px;
  height: 638px;
  background-color: #fff;
  padding: 10px;
}
.detail-card .card {
  height: 600px;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  margin: 5px;
}
.detail-card .card .card-header {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  padding: 0 10px;
  border-bottom: 1px solid #ecf0f1;
}
.detail-card .card .card-header .header-title {
  float: left;
  height: 100%;
}
.detail-card .card .card-body {
  height: calc(100% - 40px);
  padding: 5px;
}
.detail-card .card .statistic-ul {
  width: 100%;
  height: 49%;
  margin-bottom: 1%;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.detail-card .card .statistic-ul:nth-last-child(1) {
  margin: 0;
}
.detail-card .card .statistic-ul .statistic {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.detail-card .card .statistic-ul .statistic .statistic-title span {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.detail-card .card .statistic-ul .statistic .statistic-body {
  height: 95px;
  line-height: 95px;
  font-size: 36px;
  font-weight: 600;
}
.detail-card .card .statistic-ul .statistic .statistic-body .statistic-content {
  height: 70px;
  line-height: 70px;
}
